#preferences{
    grid-area:pref;
    display:flex;
    flex-direction: row;
    margin:20px;
    padding-top: 20px;
    border: 1px solid #f0f0f0;
}

#sort{
    grid-area:sort;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#grid_area{
    grid-area:display_area;
}

header{
    grid-area:header;
}

#page_container > *{
    /* border: 1px solid black; */
}
#time_filter {
    font-size: 90%;
    color: black;
    text-transform: none;
}

#time_filter.MuiToggleButton-root {
    background-color: #f0f0f0 !important;
}

#time_filter.MuiToggleButton-root:hover {
    background-color: #d0d0d0 !important
}

#time_filter.MuiToggleButton-root.Mui-selected {
    background-color: #ffaabb !important;
    font-size: 120%;
}

#time_filter.MuiToggleButton-root.Mui-selected:hover {
    background-color: #c56 !important
}