#courseTagContainer {
    display: grid;
    grid-template-areas:
        "requiredArea optionalArea";
}

#optionalArea {
    grid-area: optionalArea;
}

#requiredArea {
    grid-area: requiredArea;
}