#page_container{
    display:grid;
    grid-template-areas: 
        "LS header"
        "LS schedule_area";
    grid-template-columns: 1fr 6fr;
    grid-template-rows:1fr 13fr;
}

h1, p{
    text-align:center;
}

#left_sidebar{
    min-width: 215px;
    display:grid;
    grid-area:LS;
    grid-template-rows: 1fr 6fr 1fr 6fr;
}

#left_sidebar > *{
    border: black 1px dashed;
}

#schedule_area{
    grid-area: schedule_area;
    display:grid;
    grid-template-areas:
        "pref pref"
        "sort display_area";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}


#schedule_area > *{
    border: 1px black dashed;
}

#minGap{
    flex:1
}

#unitPref{
    flex:1
}

#restrictCommute{
    flex:1
}

#profPref{
    flex:1
}

#preferences{
    grid-area:pref;
    display:flex;
    flex-direction: row;
    margin:20px;
}

#sort{
    grid-area:sort;
}

#grid_area{
    grid-area:display_area;
}

header{
    grid-area:header;
}

#page_container > *{
    border: 1px black solid;
}

#generate {
    height: 10vh;
    padding: 0px;
    text-align: center;
}

